dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
results/*
stack.yaml.lock
Futhark/lib

*.in

*.out

Futhark/quicksort

Futhark/quicksort.c
